@import url(./vars.css);

/* SCROLLBAR */

body::-webkit-scrollbar {
    width: 8px;
}
  
body::-webkit-scrollbar-track {
    background: var(--theme-bg);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid #ad1aaf;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/* BACKGROUND */

body:before {
	content: ' ';
	position: absolute;
    background-image: url('../../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
	height: 120%;
	width: 100%;
	z-index: -1;
}

html {
    background-color: #333131;
}

/* HEADER */

header {
    position: relative;
    top: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 60px;
}

.header-content {
    width: 100%;
    flex-wrap: wrap;
}

.header-list {
    display: flex;
    list-style: none;
}

.header-navigation li{
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/* MENU-LIST */

.header-list__link {
    position: relative;
    text-decoration: none;
    color: #49b6e9;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: bold;
}

.header-list__link:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0e8fcb;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

/* ACTIVE-PAGE */

.header-list__item-active a{
    text-decoration: none;
    color: #0e8fcb;
}

.header-list__link-active:before {
    content: '';
    position: absolute;
    bottom: 5.5px;
    top: 1;
    bottom: 12px;
    width: 100px;
    height: 2.5px;
    transform: scaleX(1);
    background-color: #0e8fcb;
}


/* CONTENT */

main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-container {
    width: 60%;
    height: 650px;
    background-color: #1B1B1B;
    border: 2px solid black;
    border-radius: 7px;
    margin: 20px 80px;
    padding: 3% 10%;
}

.main-container .button-save {
    text-align: center;
}

.top-content {
    display: flex;
    justify-content: space-between;
}

.profile_photo {
    margin-right: 40px;
    flex-basis: 17%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
    border: 2px solid #333131;
    transition: 0.3s ease-in-out;
}

.profile_photo img {
    height: 150px;
}


.profile_photo p {

    color: white;
}

.profile-header {
    flex-basis: 82%;
    height: 150px;
    border-radius: 7px;
    background-color: #1B1B1B;
    border: 2px solid #333131;
    transition: 0.3s ease-in-out;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.profile-header p {
    padding: 8px 8px;
}

.profile-header__item-password a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.profile-header__item-upload-photo input[type="file"] {
    margin-left: 10px;
}

/* NICKNAME, PASSWORD AND LOGIN, ABOUT, DONWLOAD */

.other-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-content > div textarea {
    color: white;
}

.other-content-nickname {
    width: 100%;
}

.other-content__item-nickname textarea {
    height: 25px;
    width: 99%;
    margin: 30px 0 0 0;
    resize: none;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    background-color: #1B1B1B;
    border: 2px solid #333131;
    transition: 0.3s ease-in-out;
}


.other-content-about {
    width: 100%;
}

.other-content__item-about textarea {
    height: 100px;
    width: 99%;
    resize: none;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    margin: 20px 0;
    background-color: #1B1B1B;
    border: 2px solid #333131;
    transition: 0.3s ease-in-out;
}

#password {
    margin: 0 65px 0 0;
}

.other-content__item-password  {
    display: flex;
}

.other-content-password {
    width: 100%;
}

.other-content__item-password textarea {
    flex-basis: 49%;
    resize: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    height: 25px;
    background-color: #1B1B1B;
    border: 2px solid #333131;
    transition: 0.3s ease-in-out;
}

.other-content-donwload {
    width: 100%;
}

.other-content__item-donwload {
    width: 99%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin: 20px 0;
    background-color: #1B1B1B;
    border: 2px solid #333131;
    transition: 0.3s ease-in-out;
}

.other-content__item-donwload p {
    color: white;
}

/* SAVE-BUTTON */

.button-save a {
    text-decoration: none;
    color: white;
}

#button-save {
    background-color: #333131;
    border: 2px solid #333131;
    border-radius: 7px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px;
    transition: 0.3s ease-in-out;
}

/* FOOTER */

footer {
    border-top: 2px solid black;
    background-color: var(--theme-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    flex-wrap: wrap;
}

.footer-content_item {
    color: var(--light-pink);
    font-weight: bold;
    font-size: 25px;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #0000008c;
    transition: background 1s ease;
}