@import url('./vars.css');

* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body:before {
	position: absolute;
	content: ' ';
    background-image: url('/img/bg.jpg');
    background-size: cover;
	background-position: 50% 0;
    background-repeat: no-repeat; 
	height: 100%;
	width: 100%;
	z-index: -1;
}



.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    width: 450px;
    height: 300px;
    background-color: var(--theme-bg);
    box-shadow: 0 0 5px 1.5px var(--light-pink);
    color: white;
}

.login-content h1 {
    font-size: 24px;
    color: var(--light-blue);
    user-select: none;
}

.login-content .login-forms {
    display: flex;
    flex-direction: column;
}

.login-forms {
    width: 48%;
}

.login-content {
    flex-direction: column;
    align-items: center;
}

.login-content h1 {
    margin-top: 30px;
}

.login-content a {
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

.login-forms {
    margin-top: 10px;
    align-items: center;
}

.login-input {
    display: flex;
    flex-direction: column;
    resize: none;
    outline: none;
    border-radius: 7px;
    height: 25px;
    background-color: var(--light-gray-bg);
    border: 2px solid black;
    font-family: Arial;
    transition: 0.2s ease;
    margin-top: 10px;
    color: white;
}

.login-input::placeholder {
    padding-left: 8px;
    padding-top: 4px;
    display: flex;
}


.login-forms button {
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 7px;
    background-color: var(--light-gray-bg);
    padding: 3px 20px;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.login-forms button:hover {
    outline: var(--light-blue) solid 2px;
}

.login-forms input:hover {
    outline: var(--light-blue) solid 2px;
}

.login-forms input:focus {
    outline: var(--light-blue) solid 2px;
}

/* FORM-FAIL */
.formsFail  {
    border-radius: 5px;
    border: 2px solid black;
    outline: rgba(200, 3, 3, 0.692) solid 3px;
 }


